# ==================================
# 1. 屏蔽 IDE 软件的本地配置
# ==================================
**/.idea/
**/*.iml
.vscode/

# ==================================
# 2. 屏蔽编译生成的机器码文件 (极其重要！)
# ==================================
# 屏蔽 Maven 打包生成的 target 文件夹
**/target/
# 屏蔽 IDEA 默认生成的 out 文件夹 (工件经常存在这里)
**/out/
# 屏蔽所有零散的 Java 字节码文件
**/*.class

# ==================================
# 4. 屏蔽系统运行日志和系统隐藏文件
# ==================================
*.log
.DS_Store
Thumbs.db
